body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  padding: 20px 0;
  background-color: blueviolet;
  color: #fff;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 32px;
  font-weight: 600;
}

.list {
  margin: 60px auto;
}

.product {
  width: 250px;
  margin-bottom: 20px;
}

.product button {
  padding: 10px 25px;
  border: 0;
  background-color: blueviolet;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.active {
  font-weight: bold;
  color: yellow;
}

.section1 {
  height: 120vh;
  background-color: cadetblue;
}

.section2 {
  height: 120vh;
  background-color: bisque;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.wrapper {
  padding-top: 60px;
}

.nav a {
  display: inline-block;
  margin: 0 15px;
}